/* task1.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 20px;
}

.item img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.itemButton {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.itemButton:hover {
  background-color: #555;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.search-container {
  display: inline-block;
  margin-right: 20px;
}

#searchInput {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#searchButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s ease;
}

#searchButton:hover {
  background-color: #45a049;
}

.categories {
  margin-right: 20px;
}

#categorySelect {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.filters {
  margin-right: 20px;
}

#priceRange {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
}

@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
  }

  .menu-toggle.active .bar:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
  }

  .mobile-menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #f9f9f9;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .mobile-menu a {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      color: #333;
      text-decoration: none;
  }

  .mobile-menu a:last-child {
      border-bottom: none;
  }
}
